/************************************************************************************
                                  GENERAL STYLES
************************************************************************************/
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background-color: RGBA(47, 50, 56, 1);
  color: lightgrey;
  background-image: url("../images/black-thread.png"); }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Space Mono', monospace;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/************************************************************************************
                                  BLACK BUTTON STYLES
************************************************************************************/
.list-item {
  background: #000;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  /*box-shadow: -2em 1.5em 0 #ff6e42;*/
  /*box-shadow: -2em 1.5em 0 #ff6e42;*/
  -webkit-box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 13px 33px -10px rgba(0, 0, 0, 0.75);
  -webkit-transition: all .25s linear;
  transition: all 1s linear; }

/*BUTTON MOVE ON HOVER*/
.list-item:hover {
  /*background: #ff6e42;*/
  /*color: #fffcfb;*/
  -webkit-transform: translate(0.9em, -0.9em);
  transform: translate(2em, -0.9em);
  -webkit-transition: all .25s linear;
  transition: all .5s linear;
  box-shadow: -2em 2em 0 darkgrey;
  text-decoration: none; }

.list-item:hover:before,
.list-item:hover:after {
  -webkit-transition: all .25s linear;
  transition: all .25s linear; }

/*button thickness grow on hover*/
.list-item:hover:before {
  background: #b65234;
  background: grey;
  width: 1em;
  top: .5em;
  left: -1em; }

.list-item:hover:after {
  background: #b65234;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4em; }

/*button thickness BEFORE hover*/
.list-item:before,
.list-item:after {
  content: '';
  position: absolute;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  width: .5em; }

.list-item:after {
  height: 4em;
  bottom: -2.25em;
  left: 1.5em;
  -webkit-transform: rotate(90deg) skew(0, 45deg);
  transform: rotate(90deg) skew(0, 45deg); }

.list-item:before {
  height: 2.5em;
  top: .25em;
  left: -.5em;
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg); }

li {
  list-style: none; }

/************************************************************************************
                                  Computer Keyboard STYLES
************************************************************************************/
#piano {
  text-align: center;
  margin: 15px 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%; }

#piano ul li .key {
  width: 56px;
  height: 140px; }

#piano ul li .upper-key {
  height: 84px;
  width: 22.4px; }

#piano ul li:nth-child(7n-6) .upper-key,
#piano ul li:nth-child(7n-2) .upper-key {
  left: 43.68px; }

#piano ul li:nth-child(7n-5) .upper-key {
  left: 47.04px; }

#piano ul li:nth-child(7n-4) .upper-key,
#piano ul li:nth-child(7n-1) .upper-key {
  left: 50.4px; }

#piano ul li:nth-child(7n - 3) .upper-key,
#piano ul li:nth-child(7n) .upper-key {
  display: none; }

#piano ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

#piano ul li {
  box-sizing: border-box;
  float: left;
  position: relative;
  border: red 1px solid; }

#piano ul li .key {
  cursor: pointer; }

#piano ul li .key:active {
  background: #f6ecdd;
  box-shadow: gray 0px 1px 3px -1px; }

div.key {
  font-size: 2em; }

#piano ul li .upper-key {
  border-radius: 3px;
  border: white 1px solid;
  cursor: pointer;
  background: #262626;
  position: absolute;
  top: 0;
  z-index: 1; }

#piano ul li .upper-key:hover {
  background-color: tomato; }

#piano ul li .key:hover {
  background-color: tomato; }

.nick {
  background-color: tomato; }

.nick2 {
  background-color: tomato; }

.close1 {
  background-color: red; }

.close2 {
  background-color: orange; }

.close3 {
  background-color: pink; }

.close4 {
  background-color: yellow; }

.close5 {
  background-color: white; }

.radio1 {
  display: inline;
  margin-left: 20px; }

/************************************************************************************
                                  MIDI PAGE
************************************************************************************/
.radio2 {
  display: inline; }

#midiWave {
  text-align: center; }

.btn {
  background-color: black;
  border: 1px solid white; }

#key_data {
  text-align: center; }

/************************************************************************************
                                  RECORDER
************************************************************************************/
header {
  height: 70px; }

.main-controls {
  padding-bottom: 0.7rem;
  height: 170px; }

.sound-clips {
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
  height: calc(100% - 240px - 0.7rem);
  overflow: scroll; }

label {
  display: inline;
  margin-left: 12px; }

aside {
  position: fixed;
  top: 0;
  left: 0;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s all;
  background-color: #999;
  background-image: linear-gradient(to top right, transparent, rgba(0, 0, 0, 0.5)); }

input[type=checkbox]:checked ~ aside {
  transform: translateX(0); }

/************************************************************************************
                                  THEREMIN AND CANVAS STYLES
************************************************************************************/
canvas {
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#thereminCanvas {
  width: 100%;
  display: block;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /*  background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9)), url("");*/
  background: url("../images/circleWave.gif");
  background-size: cover;
  border-radius: 0%;
  z-index: 1;
  opacity: 0.9;
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#thereminCanvas:hover {
  cursor: crosshair; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

/************************************************************************************
                                  MEDIA RECORDER STYLES
************************************************************************************/
p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0; }

video {
  height: 0px;
  margin: 0 12px 20px 0;
  vertical-align: top;
  width: calc(20em - 10px); }

video:last-of-type {
  margin: 0 0 20px 0; }

video#live {
  margin: 0 20px 20px 0; }

/*******************************************************************************
                                  GAIN NODE STYLES
*******************************************************************************/
#volume {
  width: 300px;
  margin: 0 auto; }

#panner {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px; }

#signIn {
  color: white; }

img {
  width: 15%;
  height: 15%;
  color: silver;
  display: inline; }

.smaller {
  width: 40px;
  height: 40px;
  margin-left: 10px; }

.container-fluid {
  background-color: RGBA(22, 28, 27, 1);
  background-image: url("../images/black-thread.png"); }

.navbar-nav > li > a {
  color: white; }

body {
  /*background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9));*/ }

#square {
  position: relative;
  width: 800px;
  height: 450px;
  display: block;
  margin: auto;
  background: RGBA(47, 50, 56, 1);
  background-image: url("../images/black-thread.png");
  z-index: 3; }

#leftSquare {
  width: 40%;
  display: block;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /*  background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9)), url("");*/
  background: url("../images/circleWave.gif");
  background-size: cover;
  border-radius: 0%;
  z-index: 1;
  opacity: 0.9;
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#leftSquareMIDI {
  width: 40%;
  display: block;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /*  background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9)), url("");*/
  background: url("../images/ballWave.gif");
  background-size: cover;
  border-radius: 0%;
  z-index: 1;
  opacity: 0.9;
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#leftSquareLive {
  width: 40%;
  display: block;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /*  background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9)), url("");*/
  background: url("../images/basicWave.gif");
  background-size: cover;
  border-radius: 0%;
  z-index: 1;
  opacity: 0.9;
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#rightSquare {
  width: 60%;
  display: block;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: RGBA(22, 28, 27, 1);
  background-image: url("../images/black-thread.png");
  border-radius: 0%;
  z-index: 1;
  /*  -webkit-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 25px 0px rgba(0, 0, 0, 0.75);*/ }

#circle {
  border-radius: 50%;
  width: 60%;
  height: 40%;
  display: block;
  margin: auto;
  position: absolute;
  top: 8%;
  right: 20%; }

.glyphicon {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  line-height: 1; }

.glyphicon-pause {
  color: red; }

.glyphicon-play {
  color: green; }

.brand {
  position: absolute;
  display: block;
  top: 38%;
  left: 25%;
  margin: auto;
  width: 50%;
  height: 60%;
  z-index: 1; }

#title {
  position: absolute;
  left: 21%;
  bottom: 37%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  font-weight: 800;
  text-align: right;
  z-index: 3;
  color: red; }

#subtitle {
  position: absolute;
  left: 7%;
  bottom: 3%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  z-index: 3; }

#container {
  margin-top: 15%; }

.signup {
  color: RGBA(204, 204, 204, 1);
  font-family: 'Space Mono', monospace;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  margin-top: 30px; }

.liveInput {
  margin-left: 140px; }

.button {
  margin: 10px;
  z-index: 3; }

.centeredbuttons {
  text-align: center; }

#google {
  padding-left: 10px;
  /*background-color: RGBA(52, 167, 194, 1.00);*/ }

#footer {
  display: block;
  margin: auto;
  color: #333333;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  font-weight: 400;
  text-align: right;
  z-index: 3;
  position: absolute;
  right: 3%;
  bottom: 3%; }

#terms {
  cursor: pointer;
  color: #FBADC1; }

form {
  padding: 20px 0;
  position: relative; }

.form2 {
  padding: 0;
  position: relative; }

.optin {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  width: 75%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.optin:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.optin:focus {
  width: 90%;
  color: RGBA(95, 186, 255, 1); }

.optin2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  width: 65%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.optin2:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.optin2:focus {
  color: RGBA(95, 186, 255, 1); }

.optin3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 12px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.optin3:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.optin3:focus {
  color: RGBA(95, 186, 255, 1); }

.optin4 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 12px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.optin4:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.optin4:focus {
  color: RGBA(95, 186, 255, 1); }

.optin5 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 65%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 12px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.optin5:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.optin5:focus {
  color: RGBA(95, 186, 255, 1); }

.optin6 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  width: 470px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 12px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.65s;
  font-weight: 300;
  background-color: none; }

.optin6:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.optin6:focus {
  color: RGBA(95, 186, 255, 1); }

.optin7 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 510px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 12px;
  color: RGBA(95, 186, 255, 1);
  transition-duration: 0.65s; }

.optin7:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white; }

.optin7:focus {
  color: RGBA(95, 186, 255, 1); }

.ng-scope {
  border: none; }

a:link {
  text-decoration: none; }

.heading {
  color: RGBA(204, 204, 204, 1);
  margin-left: 20px; }

#navBarId {
  margin-bottom: 50px; }

select {
  font: 14pt Arial, sans-serif;
  color: black; }

div#controls div {
  display: none;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0; }

div#controls div.display {
  display: block; }

#effectMix {
  padding-top: 12px; }

#arranger {
  width: 750px; }

input[type=range] {
  height: 20px; }

.radioButtondemoBasicUsage body {
  padding: 20px; }

.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }

.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
  padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }

.radioButtondemoBasicUsage md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }

.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }

/****************************************************************************
                             SEQUENCER
 ****************************************************************************/
input#audio_file {
  color: red;
  background-color: purple; }

.arpPos {
  position: fixed;
  top: 250px;
  right: 100px;
  font-size: 1.5em;
  transform: rotate(-90deg);
  border: 0px solid white; }

.arpPos .pad {
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;
  border: 0px solid white;
  border-radius: 5px; }

.arpPos .selected {
  background-color: red; }

.arpPos .playing {
  background: tomato; }

.row .white {
  background: RGBA(204, 204, 204, 0.75);
  margin-bottom: 2px;
  border-radius: 5px 0px 0px 5px; }

.row .black {
  background: RGBA(34, 34, 34, 0.75);
  margin-bottom: 2px;
  border-radius: 5px 0px 0px 5px; }

#seq {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  padding-left: 0; }

#seq ul li .key {
  width: 28px;
  height: 70px; }

#seq ul li .upper-key {
  height: 42px;
  width: 11.2px; }

#seq ul li:nth-child(7n-6) .upper-key,
#seq ul li:nth-child(7n-2) .upper-key {
  left: 21.84px; }

#seq ul li:nth-child(7n-5) .upper-key {
  left: 23.51px; }

#seq ul li:nth-child(7n-4) .upper-key,
#seq ul li:nth-child(7n-1) .upper-key {
  left: 25.2px; }

#seq ul li:nth-child(7n - 3) .upper-key,
#seq ul li:nth-child(7n) .upper-key {
  display: none; }

#seq ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

#seq ul li {
  box-sizing: border-box;
  float: left;
  position: relative;
  border: red 1px solid; }

#seq ul li .key {
  cursor: pointer; }

#seq ul li .key:active {
  background: #f6ecdd;
  box-shadow: gray 0px 1px 3px -1px; }

div.key {
  font-size: 2em; }

#seq ul li .upper-key {
  border-radius: 1.5px;
  border: white 0.5px solid;
  cursor: pointer;
  background: #262626;
  position: absolute;
  top: 0;
  z-index: 1; }

#seq ul li .upper-key:hover {
  background-color: tomato; }

#seq ul li .key:hover {
  background-color: tomato; }

.nick {
  background-color: tomato; }

.nick2 {
  background-color: tomato; }

.close1 {
  background-color: red; }

.close2 {
  background-color: orange; }

.close3 {
  background-color: pink; }

.close4 {
  background-color: yellow; }

.close5 {
  background-color: white; }

.radio1 {
  display: inline;
  margin-left: 20px; }

#seqVolume {
  width: 65%;
  float: left;
  height: 30px;
  background-color: black; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid black;
  background: #a90329;
  background: -moz-linear-gradient(left, #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a90329), color-stop(50%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(left, #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: -o-linear-gradient(left, #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: -ms-linear-gradient(left, #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: linear-gradient(to right, #a90329 0%, #8f0222 50%, #6d0019 100%); }

.seqOptin {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 75%;
  display: inline;
  border-radius: 3px;
  font-size: 18px;
  color: RGBA(95, 186, 255, 1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  background-color: none; }

.seqOptin:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.seqOptin:focus {
  width: 90%;
  color: RGBA(95, 186, 255, 1); }

.pad {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
  display: inline-block;
  background: #DADADA;
  margin-right: 1px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px; }

.dark {
  background-color: RGBA(248, 248, 248, 0.6); }

.selected {
  background-color: RGBA(95, 186, 255, 1); }

.playing {
  background: grey; }

.playing.selected {
  background-color: maroon; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button#play-pause {
  border: none;
  margin-left: 35px;
  color: silver; }

button#play-pause:hover {
  background-color: darkgrey;
  color: black; }

button#play-pause:focus {
  background-color: black;
  color: silver; }

.control {
  margin: 10px 0; }

.instrument-label {
  display: inline-block;
  vertical-align: top;
  width: 4em;
  text-align: left;
  margin-right: 0.5em;
  margin-top: 8px;
  font-size: 0.7em;
  padding-left: 5px; }

.tempo-container {
  margin: 0; }

#tempo-input {
  margin: 0 10px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 20px;
  padding-left: 5px;
  color: silver;
  background-color: black;
  width: 60px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid white; }

.space {
  margin-left: 20px; }

.tempo-btn {
  margin: 0 5px;
  color: white; }

.fontIncrease {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif; }

.col-xs-offset-1 {
  margin-left: 5%; }

h2 {
  color: RGBA(204, 204, 204, 1);
  margin-bottom: 20px;
  margin-top: 0px; }

#audioinput {
  width: 200px; }

#effect {
  width: 200px; }

.glossy-selectbox {
  display: inline-block;
  font: normal bold 12px Arial, Sans-Serif;
  position: relative;
  width: 300px;
  background-color: #111;
  text-align: left;
  /* CSS3 Browser */
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 100%);
  /* IE only */
  border-radius: 7px;
  box-shadow: inset 0 1px 1px 1px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.7); }

.glossy-selectbox:before,
.glossy-selectbox:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-width: 5px 3px;
  border-bottom-color: #999;
  position: absolute;
  top: 25%;
  right: 5px;
  z-index: 4; }

.glossy-selectbox:after {
  border-color: #999 transparent transparent;
  top: auto;
  bottom: 25%; }

.glossy-selectbox input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer; }

.glossy-selectbox label {
  display: block;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 15px;
  transition: all 0s ease-out; }

.glossy-selectbox label:before {
  content: attr(data-default); }

.glossy-selectbox label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 7px 7px 0;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1), -1px 0 0 rgba(255, 255, 255, 0.1); }

.glossy-selectbox input:hover + label {
  color: white; }

.glossy-selectbox input:hover + label:after {
  background-color: rgba(255, 255, 255, 0.04); }

.glossy-selectbox ul {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 100%;
  left: 14px;
  right: 14px;
  background-color: #222;
  border: 1px solid #111;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 5px 7px -2px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: 99; }

.glossy-selectbox li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  float: left;
  width: 50%;
  display: inline; }

.glossy-selectbox a {
  display: block;
  position: relative;
  color: #999;
  text-decoration: none;
  text-shadow: 0 0 2px black;
  line-height: 30px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  padding: 0 15px 0 32px;
  box-shadow: inset 0 0 0 1px #333;
  /* Opera note: An unstable box shadow will appear if you don't define the border radius less than 1 pixel. Weird! */
  border-radius: 1px; }

.glossy-selectbox a:nth-child(even) {
  border-right-width: 0; }

.glossy-selectbox a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0; }

.glossy-selectbox a:hover:before {
  background-position: 50% 100%; }

.glossy-selectbox .social-rss:before {
  background-image: url(""); }

.glossy-selectbox .social-facebook:before {
  background-image: url(""); }

.glossy-selectbox .social-twitter:before {
  background-image: url(""); }

.glossy-selectbox .social-google:before {
  background-image: url(""); }

.glossy-selectbox a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ccc; }

/* On click, then... */
.glossy-selectbox input:checked + label {
  color: rgba(255, 255, 255, 0.4);
  transition-duration: .4s; }

.glossy-selectbox input:checked + label:before {
  content: attr(data-focus); }

.glossy-selectbox input:checked + label:after {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.4), -1px 0 0 rgba(255, 255, 255, 0.1); }

.glossy-selectbox input:checked ~ ul {
  visibility: visible;
  opacity: 1; }

img #controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%; }

img #record {
  height: 15vh; }

img #record.recording {
  background: white;
  background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%); }

#save:hover {
  opacity: 0.50;
  color: silver;
  cursor: pointer; }

#viz {
  float: right; }

.fa-circle:hover {
  color: red;
  cursor: pointer;
  opacity: 0.90; }

.fa-circle {
  color: darkred; }

.fa-play {
  color: darkgreen; }

.fa-play:hover {
  color: lightgreen;
  cursor: pointer;
  opacity: 0.70; }

.fa-save:hover {
  color: silver;
  cursor: pointer;
  opacity: 0.50; }

/*# sourceMappingURL=main.css.map */
