<!-- <h2>{{title2}}</h2> -->
<!--**************************************************************
                      COMPUTER KEYBOARD
<!**************************************************************-->
<div id='piano'>
  <br> VOLUME:
  <input type='range' min='0' max='1' step='0.01' value='0.25' id='volume' class="seqOptin glyphicon" />

  <form action="#" name="waveOption">
    <div class="radio1">WAVE SHAPE:<br>
      <label for="Square">
        <input name="group1" type="radio" id="Square" checked="checked"><img class="smaller" src="/images/square1.png">
      </label>
    </div>
    <div class="radio1">
      <label for="Sine">
        <input name="group1" type="radio" id="Sine" /><img class="smaller" src="/images/sine1.png">
      </label>
    </div>
    <div class="radio1">
      <label for="Saw">
        <input name="group1" type="radio" id="Saw" /><img class="smaller" src="/images/sawtooth1.png">
      </label>
    </div>
    <div class="radio1">
      <label for="Triangle">
        <input name="group1" type="radio" id="Triangle" /><img class="smaller" src="/images/triangle1.png">
      </label>
    </div>
  </form>
  <ul id='staggered'>
    <li>
      <div class='key' id='F3'>F</div>
      <div class='upper-key' id='F3sh'>F#</div>
    </li>
    <li>
      <div class='key' id='G3'>G</div>
      <div class='upper-key' id='G3sh'>G#</div>
    </li>
    <li>
      <div class='key' id='A3'>A</div>
      <div class='upper-key' id='A3sh'>A#</div>
    </li>
    <li>
      <div class='key' id='B3'>B</div>
    </li>
    <li>
      <div class='key' id='C4'>C</div>
      <div class='upper-key' id='C4sh'>C#</div>
    </li>
    <li>
      <div class='key' id='D4'>D</div>
      <div class='upper-key' id='D4sh'>D#</div>
    </li>
    <li>
      <div class='key' id='E4'>E</div>
    </li>
    <li>
      <div class='key' id='F4'>F</div>
      <div class='upper-key' id='F4sh'>F#</div>
    </li>
    <li>
      <div class='key' id='G4'>G</div>
      <div class='upper-key' id='G4sh'>G#</div>
    </li>
    <li>
      <div class='key' id='A4'>A</div>
      <div class='upper-key' id='A4sh'>A#</div>
    </li>
    <li>
      <div class='key' id='B4'>B</div>
    </li>
    <li>
      <div class='key' id="C5">C</div>
      <div class='upper-key' id='C5sh'>C#</div>
    </li>
    <li>
      <div class='key' id='D5'>D</div>
      <div class='upper-key' id='D5sh'>D#</div>
    </li>
    <li>
      <div class='key' id='E5'>E</div>
    </li>
  </ul>
</div>
