<!-- <h1>{{title}}</h1> -->
<!-- <div class="row">
</div> -->
<!-- Repeat over our todo list items and setup filtering by search term. Easy peasy -->
<!-- <div ng-repeat="item in items | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-7"><a ng-href="#/items/{{item.id}}">{{item.task}}</a></div>
      <div class="col-xs-2">{{item.dueDate}}</div>
      <div class="col-xs-1">{{item.assignedTo}}</div>
      <div class="col-xs-1">
        <button class="btn btn-danger">X</button>
      </div>
    </div>
  </div>
</div> -->
<!-- LIVE INPUT -->
<div>Input:
  <select id="audioinput">onchange="changeInput(this.selectedIndex);"
    <!-- <select id="audioinput"> -->
    <!-- <select id="audioinput"></select> -->
    <!-- <option>default (selection not supported)</option> -->


  </select>
      <span class="fa fa-microphone fa-2x"></span>
        <span class="fa fa-usb fa-2x"></span>
  <!-- <div id="audioinput">USB</div> -->
  <!--
    <button id="apollo">quindar beep</button>
-->
</div>
<div id="effectMix">Effect:
  <select id="effect">
    <option>Delay </option>
    <option>Reverb </option>
  </select>
  &nbsp;&nbsp;
  Effect Mix:
  <input type="range" min="0.0" max="1.0" step="0.01" value="1.0" style="height: 20px; width: 200px;" onInput="crossfade( event.target.value );">


  <!-- &nbsp;&nbsp;Mono input: -->
  <!-- <input type="checkbox" checked onchange="toggleMono()"> -->
  <!--          &nbsp;&nbsp;60Hz filter: <input type="checkbox" checked onchange="toggleFilter()"> -->
</div>
<div id="controls">
  <div id="delayControls">
    <br> Delay time:
    <input id="dtime" type="range" min="0.01" max="3" step="0.01" value="0.15" style="height: 20px; width: 200px" onInput="if (dtime) dtime.delayTime.value = event.target.value;">
    <br> Regen:
    <input id="dregen" type="range" min="0.0" max="1.0" step="0.01" value="0.75" style="height: 20px; width: 200px;" onInput="if (dregen) dregen.gain.value = event.target.value;">
  </div>
  <div id="reverbControls">A convolution-based "hall" reverb, using a generated impulse file.
    <!-- TODO: let user select other impulse response files, even auto-generate -->
  </div>
</div>
