<div id="square2">
  <div id="leftSquareLive">
  </div>
  <div id="rightSquare">
    <div id="container2">
      <h2 class="signup">{{title}}</h2>
<!--       <em>Plug in a guitar, mic, etc via a <a href="https://www.amazon.com/VAlinks-Interface-Connector-Instruments-GarageBand/dp/B01EV0V58A/ref=pd_day0_267_1/157-2055858-7692010?_encoding=UTF8&psc=1&refRID=2HKBJ0QH7WPK7DJWHFGT" target="_blank">1/4" to USB cable</a>. Many features have been removed. If page appears broken, just refresh your browser. </em> -->
      <form class="form2" className="animated slideInLeft">
        <div>
          <div class="liveInput">
            SOURCE:
          </div>
          <select class="optin2" id="audioinput" ng-model="dropdown.index" ng-change="changeInput();">
          </select>
        </div>
        <div class="liveInput"> EFFECT:
        </div>
        <div>
          <select class="optin2" id="effect" ng-model="dropdown2.index" ng-change="changeEffect();">
            <option>Delay</option>
            <option>LFO</option>
            <option>Stereo Flanger</option>
            <option>Telephone EQ Filter </option>
          </select>
          <div class="liveInput"> EFFECT MIX:
          </div>
          <div class="optin4">{{slider.value * 100 | number : 0}} %
            <input type="range" min="0.0" max="1.0" step="0.01" ng-model="slider.value" ng-change="crossfade();">
          </div>
        </div>
      </form>
      <div id="controls" ng-model="ngControls" class="optin3">
        <!-- delay -->
        <div id="delayControls">
          <br>BPM: {{60 / slider2.value | number : 0}}
          <input id="dtime" type="range" min="0.2" max="1.0" step="0.01" ng-model="slider2.value" ng-change="changeEffect();">
          <br>Feedback
          <input id="dregen" type="range" min="0.1" max="1.0" step="0.01" ng-model="slider3.value" ng-change="changeEffect();">
        </div>
        <!-- LFO -->
        <div id="gainLFOControls">
          LFO Shape:
          <select id="lfotype webmenu" name="webmenu" ng-model="lfoDropdown.value" ng-change="changeEffect();" class="optin">
            <option value="sine" data-image="/lib/node_modules/msdropdown/icons/sine1.png">SINE</option>
            <option value="square" data-image="./lib/node_modules/msdropdown/icons/sine1.png">SQUARE</option>
            <option value="sawtooth" data-image="../lib/node_modules/msdropdown/icons/sine1.png">SAWTOOTH</option>
            <option value="triangle" data-image="lib/node_modules/msdropdown/icons/sine1.png">TRIANGLE</option>
          </select>
          BPM: {{60 * lfoSlider1.value}}
          <input id="lfo" type="range" min="0.25" max="20" step="0.25" value="3" ng-model="lfoSlider1.value" ng-change="changeEffect();">
        </div>
        <!-- Stereo Flanger -->
        <div id="stFlangeControls">
          <br>
          <option id="sflspeed" min="0.05" max="2" step="0.05" value="0.15">
            <br>
            <option id="sfldelay" min="0.001" max="0.02" step="0.001" value="0.003">
              <br>
              <option id="sfldepth" min="0.0005" max="0.02" step="0.00025" value="0.005">
                <br>
                <option id="sflfb" min="0" max="1" step="0.01" value="0.9">
        </div>
        <!-- telephone -->
        <div id="telephoneControls">
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<div class="optin8">LOOP STATION:
  <input type='range' min='0' max='1' step='0.01' value='0.75' id='liveVolume' class="seqOptin glyphicon glyphicon-volume-up">
  <button id="recordStop" type="button" class="btn btn-default btn- noselect" onclick="toggleRecording(this);">
    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
  </button>
  <button id="pausePlay" type="button" class="btn btn-default btn- noselect" disabled>
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
  </button>
  <button id="downloadButton" type="button" class="btn btn-default btn- noselect" disabled>
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  </button>
  <div>
    <canvas id="wavedisplay"></canvas>
  </div>
</div>
<br>
<video id="recorded" autoplay loop></video>
</div>
<div id="waveform"></div>
