<section class="auth-form"></section>
<div class="animated slideInLeft" id="square">
  <div class="animated bounceInUp" id="leftSquare">
    <canvas class="thereminCanvas" id="thereminCanvas">
      <div class="animated bounceInUp" id="circle">
      </div>
      <h3 id="subtitle">"You are a function of what the whole universe is doing in the same way that a wave is a function of what the whole ocean is doing."</h3>
    </canvas>
  </div>

  <div class="animated bounceInDown" id="rightSquare">
    <div id="container">
      <h2 class="signup">Sign Up / Login</h2>
      <em>ALERT: you do NOT have to sign up or Login to use this app...This is only a beta release and MANY FEATURES HAVE BEEN REMOVED. If a page appears broken, just refresh your browser or try using Chrome.</em>
      <form className="animated slideInLeft">
        <input class="optin" type="text" placeholder="email" ng-model="account.email">
        <input class="optin" type="password" placeholder="password" ng-model="account.password">
      </form>
      <div class="centeredbuttons">
        <button id="login" class="animated infinite button pulse btn" ng-click="login()">Login</button>
        <button class="animated infinite button pulse btn" ng-click="register()">Sign Up</button>
      </div>
      <h3 id="footer"><a href="https://github.com/nchemsak/eWaveStudio" id="terms" class="fa fa-code-fork fa-lg" target="_blank"></a>
      <a href="https://www.ephemeralwave.com" class="fa  fa-paint-brush fa-lg" target="_blank"></a></h3>
    </div>
  </div>
</div>
