<h1>{{title}}</h1>
<code>MIDI Controller</code>
<br>
<!--**************************************************************
                      MIDI CONTROLLER
<!**************************************************************-->
<!-- <h2>MIDI Controller</h2> -->
<div id="content">
  <div class="button" data-sound="audio/kick.mp3"></div>
  <div class="button" data-sound="audio/kick-7.mp3"></div>
  <div class="button" data-sound="audio/kick-1.mp3"></div>
  <div class="button" data-sound="audio/kick-2.mp3"></div>
  <div class="button" data-sound="audio/kick-3.mp3"></div>
  <div class="button" data-sound="audio/kick-5.mp3"></div>
  <div class="button" data-sound="audio/kick-6.mp3"></div>
  <div class="button" data-sound="audio/bass-1.mp3"></div>
  <div class="button" data-sound="audio/bass-2.mp3"></div>
  <div class="button" data-sound="audio/bass-3.mp3"></div>
  <div class="button" data-sound="audio/snare.mp3"></div>
  <div class="button" data-sound="audio/snare-1.mp3"></div>
  <div class="button" data-sound="audio/snare-2.mp3"></div>
  <div class="button" data-sound="audio/snare-hat-1.mp3"></div>
  <div class="button" data-sound="audio/cym.mp3"></div>
  <div class="button" data-sound="audio/cym-noise.mp3"></div>
  <div class="button" data-sound="audio/hat-2.mp3"></div>
  <div class="button" data-sound="audio/hat.mp3"></div>
  <div class="button" data-sound="audio/hat-1.mp3"></div>
  <div class="button" data-sound="audio/hat-2.mp3"></div>
  <div class="button" data-sound="audio/Larnac.wav"></div>
  <div class="button" data-sound="audio/the-price-is-right-losing-horn.mp3"></div>
</div>
<select id="midiChange" ng-model="dropdown2.index" ng-change="changeMidi();">
  <option>Oscillator Keyboard</option>
  <!-- <option>Mod Delay</option> -->
  <option>Sampler</option>
</select>
<div id="controls2" ng-model="ngControls2">
  <div id="oscillatorKeyboard" class="form-group">
    <!-- <label>Wave Shape</label> -->
    <!-- <div class="form-group"> -->
    <div class="radio">
      <label>
        <input type="radio" name="midiOscType" value="square" ng-model="formData.midiOscType"> Square
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" checked="checked" name="midiOscType" value="sine" ng-model="formData.midiOscType"> Sine
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="midiOscType" value="sawtooth" ng-model="formData.midiOscType"> Sawtooth
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="midiOscType" value="triangle" ng-model="formData.midiOscType"> Triangle
      </label>
    </div>
    <!--  <br> VOLUME:
    <input type='range' min='0' max='1' step='0.01' value='0.25' id='midiVolume' /> -->
    <br>
    <!-- </div> -->
  </div>
  <div id="Sampler">
    <div id="device_info">
      <div id="key_data"></div>
      <div id="inputs"></div>
      <div id="outputs"></div>
    </div>
  </div>
  <br>
</div>
