<!-- <code>MIDI Controller</code> -->
<div id="square">
  <div id="leftSquareMIDI">
  </div>
  <div id="rightSquare">
    <div id="container">
      <h2 class="signup">{{title}}</h2>
      <!-- <form className="animated slideInLeft"> -->
      <select class="optin2" id="midiChange" ng-model="dropdown2.index" ng-change="changeMidi();">
        <option>Oscillator Keyboard</option>
        <option>Sampler</option>
      </select>
      <br>
      <div id="controls2" ng-model="ngControls2" id="midiWave">
        <div id="oscillatorKeyboard" class="form-group optin5">
          <label>WAVE SHAPE</label>
          <br>
          <div class="radio2">
            <label>
              <input type="radio" name="midiOscType" value="square" ng-model="formData.midiOscType"> <img src="/images/square1.png">
            </label>
          </div>
          <div class="radio2">
            <label>
              <input type="radio" checked="checked" name="midiOscType" value="sine" ng-model="formData.midiOscType"> <img src="/images/sine1.png">
            </label>
          </div>
          <div class="radio2">
            <label>
              <input type="radio" name="midiOscType" value="sawtooth" ng-model="formData.midiOscType"> <img src="/images/sawtooth1.png">
            </label>
          </div>
          <div class="radio2">
            <label>
              <input type="radio" name="midiOscType" value="triangle" ng-model="formData.midiOscType"> <img src="/images/triangle1.png">
            </label>
          </div>
          <!--  <br> VOLUME:
    <input type='range' min='0' max='1' step='0.01' value='0.25' id='midiVolume' /> -->
          <br>
          <!-- </div> -->
        </div>
        <div id="Sampler">
          <div id="device_info">
            <div id="key_data" class="form-group optin5"></div>
            <div id="inputs"></div>
            <div id="outputs"></div>
          </div>
        </div>
        <br>
      </div>
     <!--  <h3 id="footer"><a href="https://github.com/nchemsak/eWaveStudio" id="terms" class="fa fa-code-fork fa-lg" target="_blank"></a>
      <a href="https://www.ephemeralwave.com" class="fa  fa-paint-brush fa-lg" target="_blank"></a></h3> -->
    </div>
  </div>
</div>
<br>
<!--**************************************************************
                      MIDI CONTROLLER
<!**************************************************************-->
<!-- <h2>MIDI Controller</h2> -->
<div id="content">
  <div class="button" data-sound="audio/kick.mp3"></div>
  <div class="button" data-sound="audio/kick-7.mp3"></div>
  <div class="button" data-sound="audio/kick-1.mp3"></div>
  <div class="button" data-sound="audio/kick-2.mp3"></div>
  <div class="button" data-sound="audio/kick-3.mp3"></div>
  <div class="button" data-sound="audio/kick-5.mp3"></div>
  <div class="button" data-sound="audio/kick-6.mp3"></div>
  <div class="button" data-sound="audio/bass-1.mp3"></div>
  <div class="button" data-sound="audio/bass-2.mp3"></div>
  <div class="button" data-sound="audio/bass-3.mp3"></div>
  <div class="button" data-sound="audio/snare.mp3"></div>
  <div class="button" data-sound="audio/snare-1.mp3"></div>
  <div class="button" data-sound="audio/snare-2.mp3"></div>
  <div class="button" data-sound="audio/snare-hat-1.mp3"></div>
  <div class="button" data-sound="audio/cym.mp3"></div>
  <div class="button" data-sound="audio/cym-noise.mp3"></div>
  <div class="button" data-sound="audio/hat-2.mp3"></div>
  <div class="button" data-sound="audio/hat.mp3"></div>
  <div class="button" data-sound="audio/hat-1.mp3"></div>
  <div class="button" data-sound="audio/hat-2.mp3"></div>
  <div class="button" data-sound="audio/Larnac.wav"></div>
  <div class="button" data-sound="audio/the-price-is-right-losing-horn.mp3"></div>
</div>
