<h1>{{title}}</h1>
<!-- <form>
  <div class="form-group">
    <label>Task Description</label>
    <input type="text" class="form-control" placeholder="Some important task" ng-model="newTask.task" />
  </div>
  <div class="form-group">
    <label>Due Date</label>
    <input type="text" class="form-control" placeholder="01/12/17" ng-model="newTask.dueDate" />
  </div>
  <div class="form-group">
    <label>Assigned To</label>
    <input type="text" class="form-control" placeholder="cohort 15" ng-model="newTask.assignedTo" />
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="attic" ng-model="newTask.location" />
  </div>
  <div class="form-group">
    <label>Urgency</label>
    <input type="text" class="form-control" placeholder="low" ng-model="newTask.urgency" />
  </div>
  <div class=" form-group ">
    <label>Dependencies</label>
    <input type="text " class="form-control " placeholder="brush chipper, monkey chow, the one ring " ng-model="newTask.dependencies" />
  </div> -->
<!-- bind this button to a function -->
<!--   <button class="btn btn-default " ng-click="addNewItem()">{{btnText}}</button>
</form> -->
