<div class="container">
  <div class="col-md-6">
    <div class="optin7">VOLUME
      <br>
      <input type='range' min='0' max='1' step='0.01' value='0.75' id='seqVolume' class="seqOptin">
      <button id="play-pause" type="button" class="btn btn-default btn- noselect">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tempo-container optin7">TEMPO
      <div class="row">
        <input id="tempo-input" type="number">
        <span class="space">
        <span id="decrease-tempo" class="glyphicon glyphicon-minus btn btn-default tempo-btn"><span class='fontIncrease'> 1</span></span>
        <span id="increase-tempo" class="glyphicon glyphicon-plus btn btn-default tempo-btn"><span class='fontIncrease'> 1</span></span>
        </span><span class="space">
        <span id="decrease-tempo-by-five" class="glyphicon glyphicon-minus btn btn-default tempo-btn"><span class='fontIncrease'> 5</span></span>
        <span id="increase-tempo-by-five" class="glyphicon glyphicon-plus btn btn-default tempo-btn"><span class='fontIncrease'> 5</span></span>
        </span>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
<br>
<!-- *********************************************************************
                            Hihats and Cymbals
**************************************************************************-->
<div class="container">
  <div>
    <div class="col-md-6">
      <div class="cymDiv optin7"><span class="bottomRoom">CYMBALS</span>
        <div class="row" data-instrument="hihat">
          <span class="instrument-label"><strong>hihat 1</strong></span>
          <div class="pad column_0 dark selected"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4 selected"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark selected"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-hihat-01">
          <span class="instrument-label"><strong>hihat 2</strong></span>
          <div class="pad column_0 dark "></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark selected"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4 "></div>
          <div class="pad column_5"></div>
          <div class="pad column_6 selected"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark "></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark selected"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12 "></div>
          <div class="pad column_13"></div>
          <div class="pad column_14 selected"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-hihat-02">
          <span class="instrument-label"><strong>hihat 3</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12 selected"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym">
          <span class="instrument-label"><strong>SPLASH</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym02">
          <span class="instrument-label"><strong>TRASH</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym03">
          <span class="instrument-label"><strong>CHINA</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="ride01">
          <span class="instrument-label"><strong>RIDE</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
      <!-- *********************************************************************
                            SNARE DRUMS
**************************************************************************-->
      <div class="snareDiv optin7">SNARES
        <div class="row" data-instrument="snare">
          <span class="instrument-label"><strong>snare 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-snare-01">
          <span class="instrument-label"><strong>snare 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="snare03">
          <span class="instrument-label"><strong>snare 3</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="snare04">
          <span class="instrument-label"><strong>snare 4</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
      <!-- SAMPLER -->
      <div class="optin10"><strong>SAMPLER</strong>
        <button id="recordStop" type="button" class="btn btn-default btn- noselect seqButtonStyle" onclick="toggleRecording(this);">
          <span class="glyphicon glyphicon-record seqGlyphStyle"></span>
        </button>
        <button id="downloadButton" type="button" class="btn btn-default btn- noselect seqButtonStyle2" disabled>
          <span class="glyphicon glyphicon-download-alt seqGlyphStyle2" aria-hidden="true"></span>
        </button>
        <div class="row" data-instrument="drumloop2">
          <span class="instrument-label"><strong>
        </strong>
        </span>
          <div id="pausePlay" class="pad  column_0 dark samplerPad"></div>
          <div class="pad column_1 dark samplerPad"></div>
          <div class="pad column_2 dark samplerPad"></div>
          <div class="pad column_3 dark samplerPad"></div>
          <div class="pad column_4 samplerPad"></div>
          <div class="pad column_5 samplerPad"></div>
          <div class="pad column_6 samplerPad"></div>
          <div class="pad column_7 samplerPad"></div>
          <div class="pad column_8 dark samplerPad"></div>
          <div class="pad column_9 dark samplerPad"></div>
          <div class="pad column_10 dark samplerPad"></div>
          <div class="pad column_11 dark samplerPad"></div>
          <div class="pad column_12 samplerPad"></div>
          <div class="pad column_13 samplerPad"></div>
          <div class="pad column_14 samplerPad"></div>
          <div class="pad column_15 samplerPad"></div>
        </div>
        LIVE INPUT CONTROLS
        <br>
        <select class="optin9" id="audioinput" ng-model="dropdown.index" ng-change="changeInput();">
        </select>
        <select class="optin9" id="effect" ng-model="dropdown2.index" ng-change="changeEffect();">
          <option>Delay</option>
          <option>LFO</option>
          <option>Stereo Flanger</option>
          <option>Telephone EQ Filter </option>
        </select>
        <br> EFFECT MIX: {{slider.value * 100 | number : 0}} %
        <input type="range" min="0.0" max="1.0" step="0.01" ng-model="slider.value" ng-change="crossfade();" class="liveVolume2 seqOptin2">
        <br>VOLUME:
        <input type='range' min='0' max='1' step='0.01' value='0.75' id='liveVolume2' class="seqOptin2 liveVolume2">
        <div id="controls" ng-model="ngControls">
          <!-- delay -->
          <div id="delayControls">
            <br>BPM: {{60 / slider2.value | number : 0}}
            <input id="dtime" type="range" min="0.2" max="1.0" step="0.01" ng-model="slider2.value" ng-change="changeEffect();" class="liveVolume2 seqOptin2">
            <br>Feedback
            <input id="dregen" type="range" min="0.1" max="1.0" step="0.01" ng-model="slider3.value" ng-change="changeEffect();" class="liveVolume2 seqOptin2">
          </div>
          <!-- LFO -->
          <div id="gainLFOControls">
            LFO Shape:
            <select id="lfotype webmenu" name="webmenu" ng-model="lfoDropdown.value" ng-change="changeEffect();" class="optin">
              <option value="sine" data-image="/lib/node_modules/msdropdown/icons/sine1.png">SINE</option>
              <option value="square" data-image="./lib/node_modules/msdropdown/icons/sine1.png">SQUARE</option>
              <option value="sawtooth" data-image="../lib/node_modules/msdropdown/icons/sine1.png">SAWTOOTH</option>
              <option value="triangle" data-image="lib/node_modules/msdropdown/icons/sine1.png">TRIANGLE</option>
            </select>
            BPM: {{60 * lfoSlider1.value}}
            <input id="lfo" type="range" min="0.25" max="20" step="0.25" value="3" ng-model="lfoSlider1.value" class="liveVolume2 seqOptin2" ng-change="changeEffect();">
          </div>
          <!-- Stereo Flanger -->
          <div id="stFlangeControls">
            <br>
            <option id="sflspeed" min="0.05" max="2" step="0.05" value="0.15">
              <br>
              <option id="sfldelay" min="0.001" max="0.02" step="0.001" value="0.003">
                <br>
                <option id="sfldepth" min="0.0005" max="0.02" step="0.00025" value="0.005">
                  <br>
                  <option id="sflfb" min="0" max="1" step="0.01" value="0.9">
          </div>
          <!-- telephone -->
          <div id="telephoneControls">
          </div>
          <!-- autowah -->
          <div id="autowahControls">
            <br> Envelope follower filter frequency:
            <input id="awEF" type="range" min="0.25" max="20" step="0.25" value="10" onInput="if (awFollower) awFollower.frequency.value = event.target.value;">
            <br> Filter depth (log):
            <input id="lfo" type="range" min="0" max="4" step="0.1" value="3.5" onInput="if (awDepth) awDepth.gain.value = Math.pow(2,10+parseFloat(event.target.value));">
            <br> Filter Q:
            <input id="awQ" type="range" min="0.0" max="20.0" step="0.1" value="5.0" onInput="if (awFilter) awFilter.Q.value = event.target.value;">
          </div>
          <!-- flanger -->
          <!--         <div id="flangeControls">
          <br> Flanger speed:
          <input id="flspeed" type="range" min="0.05" max="1" step="0.05" ng-model="flangeSlider1.value" ng-change="changeEffect();">
          <br> Flanger delay:
          <input id="fldelay" type="range" min="0.001" max="0.02" step="0.001" ng-model="flangeSlider2.value" ng-change="changeEffect();">
          <br> Flanger depth:
          <input id="fldepth" type="range" min="0.0005" max="0.005" step="0.00025" ng-model="flangeSlider3.value" ng-change="changeEffect();">
          <br> Flanger feedback:
          <input id="flfb" type="range" min="0" max="1" step="0.01" ng-model="flangeSlider4.value" ng-change="changeEffect();">
        </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- *********************************************************************
                            KICK drums
**************************************************************************-->
  <div>
    <div class="col-md-6">
      <div class="kickDiv optin7">KICKS
        <div class="row" data-instrument="kick">
          <span class="instrument-label"><strong>Drop 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-03">
          <span class="instrument-label"><strong>Drop 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="kick05">
          <span class="instrument-label"><strong>Industrial</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-02">
          <span class="instrument-label"><strong>808 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-01">
          <span class="instrument-label"><strong>808 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="kick06">
          <span class="instrument-label"><strong>Thud</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
      <!-- *********************************************************************
                            TOMS
**************************************************************************-->
      <div class="tomDiv optin7">TOMS
        <div class="row" data-instrument="808-tom-01">
          <span class="instrument-label"><strong>808</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark selected"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5 selected"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark selected"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="tom04">
          <span class="instrument-label"><strong>real 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="tom03">
          <span class="instrument-label"><strong>real 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
      <!-- *********************************************************************
                            LOOPS AND OTHERS
**************************************************************************-->
      <div class="loopDiv optin7">LOOPS
        <div class="row" data-instrument="drumloop100bpm">
          <span class="instrument-label"><strong>50
    <!--     <label class="upload_group">Upload
        <input class="upload_group" id="audio_file" type="file" accept="audio/*"></label>
        <button type="button" class="btn btn-primary" id="uploadButton" ng-model="selectedFile" ng-click="uploadFile();">SUBMIT</button> -->
        </strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="drumloop120bpm">
          <span class="instrument-label"><strong>60</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="drumloop140bpm">
          <span class="instrument-label"><strong>70</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="drumloop1">
          <span class="instrument-label"><strong>140</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--**************************************************************
  **************************************************************
                       PIANO arpeggiator
**************************************************************
<!**************************************************************-->
<!--   <div class="arpPos">
    <br>
    <br>
    <div class="row white" data-instrument="piano_c">
      <span class="instrument-label"><strong>c</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_csh">
      <span class="instrument-label"><strong>c#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_d">
      <span class="instrument-label"><strong>d</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_dsh">
      <span class="instrument-label"><strong>d#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_e">
      <span class="instrument-label"><strong>e</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_f">
      <span class="instrument-label"><strong>f</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_fsh">
      <span class="instrument-label"><strong>f#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_g">
      <span class="instrument-label"><strong>g</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_gsh">
      <span class="instrument-label"><strong>g#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_a">
      <span class="instrument-label"><strong>a</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_ash">
      <span class="instrument-label"><strong>a#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_b">
      <span class="instrument-label"><strong>b</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
  </div> -->
<br>
<video id="recorded" autoplay></video>
</div>
