<!-- <h2>{{title}}</h2> -->
<div class="container">
  <div class="col-md-6">
    <div class="optin7">VOLUME<br>
      <input type='range' min='0' max='1' step='0.01' value='0.75' id='seqVolume' class="seqOptin">
      <button id="play-pause" type="button" class="btn btn-default btn- noselect">Play/Pause
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tempo-container optin7">TEMPO
      <div class="row">
        <!-- <label for="tempo-input"></label> -->
        <input id="tempo-input" type="number">
        <span class="space">
        <span id="decrease-tempo" class="glyphicon glyphicon-minus btn btn-default tempo-btn"><span class='fontIncrease'> 1</span></span>
        <span id="increase-tempo" class="glyphicon glyphicon-plus btn btn-default tempo-btn"><span class='fontIncrease'> 1</span></span>
        </span><span class="space">
        <span id="decrease-tempo-by-five" class="glyphicon glyphicon-minus btn btn-default tempo-btn"><span class='fontIncrease'> 5</span></span>
        <span id="increase-tempo-by-five" class="glyphicon glyphicon-plus btn btn-default tempo-btn"><span class='fontIncrease'> 5</span></span>
        </span>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
<br>
<!-- *********************************************************************
                            Hihats and Cymbals
**************************************************************************-->
<div class="container">
  <div>
    <div class="col-md-6">
      <div class="cymDiv optin7"><span class="bottomRoom">CYMBALS</span>
        <div class="row" data-instrument="hihat">
          <span class="instrument-label"><strong>hihat 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-hihat-01">
          <span class="instrument-label"><strong>hihat 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-hihat-02">
          <span class="instrument-label"><strong>hihat 3</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym">
          <span class="instrument-label"><strong>SPLASH</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym02">
          <span class="instrument-label"><strong>TRASH</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="cym03">
          <span class="instrument-label"><strong>CHINA</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="ride01">
          <span class="instrument-label"><strong>RIDE</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
      <br>
      <!-- *********************************************************************
                            KICK drums
**************************************************************************-->
      <div class="kickDiv optin7">KICKS
        <div class="row" data-instrument="kick">
          <span class="instrument-label"><strong>Drop 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-03">
          <span class="instrument-label"><strong>Drop 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="kick05">
          <span class="instrument-label"><strong>Industrial</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-02">
          <span class="instrument-label"><strong>808 1</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="808-kick-01">
          <span class="instrument-label"><strong>808 2</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
        <div class="row" data-instrument="kick06">
          <span class="instrument-label"><strong>Thud</strong></span>
          <div class="pad column_0 dark"></div>
          <div class="pad column_1 dark"></div>
          <div class="pad column_2 dark"></div>
          <div class="pad column_3 dark"></div>
          <div class="pad column_4"></div>
          <div class="pad column_5"></div>
          <div class="pad column_6"></div>
          <div class="pad column_7"></div>
          <div class="pad column_8 dark"></div>
          <div class="pad column_9 dark"></div>
          <div class="pad column_10 dark"></div>
          <div class="pad column_11 dark"></div>
          <div class="pad column_12"></div>
          <div class="pad column_13"></div>
          <div class="pad column_14"></div>
          <div class="pad column_15"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- *********************************************************************
                            SNARE DRUMS
**************************************************************************-->
  <div class="col-md-6">
    <div class="snareDiv optin7">SNARES
      <div class="row" data-instrument="snare">
        <span class="instrument-label"><strong>snare 1</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="808-snare-01">
        <span class="instrument-label"><strong>snare 2</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="snare03">
        <span class="instrument-label"><strong>snare 3</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="snare04">
        <span class="instrument-label"><strong>snare 4</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
    </div>
    <br>
    <!-- *********************************************************************
                            TOMS AND OTHERS
**************************************************************************-->
    <div class="tomDiv optin7">TOMS
      <div class="row" data-instrument="808-tom-01">
        <span class="instrument-label"><strong>808</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="tom04">
        <span class="instrument-label"><strong>real 1</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="tom03">
        <span class="instrument-label"><strong>real 2</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
    </div>
    <br>
    <!-- *********************************************************************
                            TOMS AND OTHERS
**************************************************************************-->
    <div class="tomDiv optin7">TOMS
      <div class="row" data-instrument="808-tom-01">
        <span class="instrument-label"><strong>808</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="tom04">
        <span class="instrument-label"><strong>real 1</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="tom03">
        <span class="instrument-label"><strong>real 2</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
      <div class="row" data-instrument="tom03">
        <span class="instrument-label"><strong>real 2</strong></span>
        <div class="pad column_0 dark"></div>
        <div class="pad column_1 dark"></div>
        <div class="pad column_2 dark"></div>
        <div class="pad column_3 dark"></div>
        <div class="pad column_4"></div>
        <div class="pad column_5"></div>
        <div class="pad column_6"></div>
        <div class="pad column_7"></div>
        <div class="pad column_8 dark"></div>
        <div class="pad column_9 dark"></div>
        <div class="pad column_10 dark"></div>
        <div class="pad column_11 dark"></div>
        <div class="pad column_12"></div>
        <div class="pad column_13"></div>
        <div class="pad column_14"></div>
        <div class="pad column_15"></div>
      </div>
    </div>
  </div>
</div>
<!-- live recording -->
<div id="container">
  <video id="live" autoplay muted></video>
  <video id="recorded" autoplay loop></video>
  <div>
    <button id="recordButton" class="btn waves-effect waves-red" disabled>Start Recording</button>
    <button id="playButton" class="btn waves-effect waves-red" disabled>Play</button>
    <button id="downloadButton" class="btn waves-effect waves-red" disabled>Download</button>
  </div>
</div>
<!-- upload file -->
<input id="audio_file" type="file" accept="audio/*" />
<audio id="audio_player"></audio>
<!--**************************************************************
  **************************************************************
                       PIANO arpeggiator
**************************************************************
<!**************************************************************-->
<!--   <div class="arpPos">
    <br>
    <br>
    <div class="row white" data-instrument="piano_c">
      <span class="instrument-label"><strong>c</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_csh">
      <span class="instrument-label"><strong>c#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_d">
      <span class="instrument-label"><strong>d</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_dsh">
      <span class="instrument-label"><strong>d#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_e">
      <span class="instrument-label"><strong>e</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_f">
      <span class="instrument-label"><strong>f</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_fsh">
      <span class="instrument-label"><strong>f#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_g">
      <span class="instrument-label"><strong>g</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_gsh">
      <span class="instrument-label"><strong>g#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_a">
      <span class="instrument-label"><strong>a</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row black" data-instrument="piano_ash">
      <span class="instrument-label"><strong>a#</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
    <div class="row white" data-instrument="piano_b">
      <span class="instrument-label"><strong>b</strong></span>
      <div class="pad column_0 dark"></div>
      <div class="pad column_1 dark"></div>
      <div class="pad column_2 dark"></div>
      <div class="pad column_3 dark"></div>
      <div class="pad column_4"></div>
      <div class="pad column_5"></div>
      <div class="pad column_6"></div>
      <div class="pad column_7"></div>
      <div class="pad column_8 dark"></div>
      <div class="pad column_9 dark"></div>
      <div class="pad column_10 dark"></div>
      <div class="pad column_11 dark"></div>
      <div class="pad column_12"></div>
      <div class="pad column_13"></div>
      <div class="pad column_14"></div>
      <div class="pad column_15"></div>
    </div>
  </div> -->
<div id='seq'>
  <ul id='staggered'>
    <li>
      <div class='key' id='F3'></div>
      <div class='upper-key' id='F3sh'></div>
    </li>
    <li>
      <div class='key' id='G3'></div>
      <div class='upper-key' id='G3sh'></div>
    </li>
    <li>
      <div class='key' id='A3'></div>
      <div class='upper-key' id='A3sh'></div>
    </li>
    <li>
      <div class='key' id='B3'></div>
    </li>
    <li>
      <div class='key' id='C4'></div>
      <div class='upper-key' id='C4sh'></div>
    </li>
    <li>
      <div class='key' id='D4'></div>
      <div class='upper-key' id='D4sh'></div>
    </li>
    <li>
      <div class='key' id='E4'></div>
    </li>
    <li>
      <div class='key' id='F4'></div>
      <div class='upper-key' id='F4sh'></div>
    </li>
    <li>
      <div class='key' id='G4'></div>
      <div class='upper-key' id='G4sh'></div>
    </li>
    <li>
      <div class='key' id='A4'></div>
      <div class='upper-key' id='A4sh'></div>
    </li>
    <li>
      <div class='key' id='B4'></div>
    </li>
    <li>
      <div class='key' id="C5"></div>
      <div class='upper-key' id='C5sh'></div>
    </li>
    <li>
      <div class='key' id='D5'></div>
      <div class='upper-key' id='D5sh'></div>
    </li>
    <li>
      <div class='key' id='E5'></div>
    </li>
  </ul>
</div>
<!-- <div class="row">
    <button id="play-pause" type="button" class="btn btn-default btn- noselect">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <span class="tempo-container">
        <label for="tempo-input">Tempo </label>
        <input id="tempo-input" type="number">
        <span id="decrease-tempo" class="glyphicon glyphicon-minus btn btn-default tempo-btn"></span>
    <span id="increase-tempo" class="glyphicon glyphicon-plus btn btn-default tempo-btn"></span>
    </span>
    <span class="tempo-container">
        <span id="decrease-tempo-by-five" class="glyphicon glyphicon-minus btn btn-default tempo-btn"></span>
    <span id="increase-tempo-by-five" class="glyphicon glyphicon-plus btn btn-default tempo-btn"></span>
    </span>
  </div> -->
</div>
