<!-- <h1>{{title}}</h1> -->
<!--**************************************************************
                      COMPUTER KEYBOARD
<!**************************************************************-->
<h2>Computer keyboard</h2>
<div id='piano'>
  <br> VOLUME:
  <input type='range' min='0' max='1' step='0.01' value='0.25' id='volume' />
  <!-- <input type='range' min='-1' max='1' step='0.01' value='0' id='panner' /> -->
  <form action="#" name="waveOption">
    <div class="radio1">
      <input name="group1" type="radio" id="Square" checked="checked" />
      <label for="Square">Square</label>
    </div>
    <div class="radio1">
      <input name="group1" type="radio" id="Sine" />
      <label for="Sine">Sine</label>
    </div>
    <div class="radio1">
      <input name="group1" type="radio" id="Saw" />
      <label for="Saw">Saw</label>
    </div>
    <div class="radio1">
      <input name="group1" type="radio" id="Triangle" />
      <label for="Triangle">Triangle</label>
    </div>
  </form>
  <ul id='staggered'>
    <li>
      <div class='key' id='F3'>F</div>
      <div class='upper-key' id='F3sh'>F#</div>
    </li>
    <li>
      <div class='key' id='G3'>G</div>
      <div class='upper-key' id='G3sh'>G#</div>
    </li>
    <li>
      <div class='key' id='A3'>A</div>
      <div class='upper-key' id='A3sh'>A#</div>
    </li>
    <li>
      <div class='key' id='B3'>B</div>
    </li>
    <li>
      <div class='key' id='C4'>C</div>
      <div class='upper-key' id='C4sh'>C#</div>
    </li>
    <li>
      <div class='key' id='D4'>D</div>
      <div class='upper-key' id='D4sh'>D#</div>
    </li>
    <li>
      <div class='key' id='E4'>E</div>
    </li>
    <li>
      <div class='key' id='F4'>F</div>
      <div class='upper-key' id='F4sh'>F#</div>
    </li>
    <li>
      <div class='key' id='G4'>G</div>
      <div class='upper-key' id='G4sh'>G#</div>
    </li>
    <li>
      <div class='key' id='A4'>A</div>
      <div class='upper-key' id='A4sh'>A#</div>
    </li>
    <li>
      <div class='key' id='B4'>B</div>
    </li>
    <li>
      <div class='key' id="C5">C</div>
      <div class='upper-key' id='C5sh'>C#</div>
    </li>
    <li>
      <div class='key' id='D5'>D</div>
      <div class='upper-key' id='D5sh'>D#</div>
    </li>
    <li>
      <div class='key' id='E5'>E</div>
    </li>
  </ul>
